$baseFont: 'RobotoRegular', 'Segoe UI', 'HelveticaNeueLight', sans-serif;

$desktopScreen: 960px; /* Desktop screen minimum size */
$desktop-width: 960px; /* TODO: Duplicate variable */
$tablet-width: 768px;
