.app {
  .content {
    min-height: 826px;
    display: block;
  }
}

html, body, .app {
  height: 100%;
}

body {
  font-family: $baseFont;
  &.openModal {
    overflow: hidden;
    position: fixed;
  }
}

.modal {
  display:block;
}
.mobileText {
  display: block;
}

.desktopText {
  display: none;
}

.desktopOnly {
  display: none;
}

.boldText {
  font-weight: bold;
}

.boldSubtitle {
  font-family: 'RobotoMedium';
  font-size: 18px;
}

span.link {
  cursor: pointer;
  text-decoration: underline;
}

span.highlight {
  font-family: 'Roboto';
}

.card {
  margin: 32px 0;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.33);
}

.inlineContainer {
  display: flex;

  div {
    flex: 1;
  }
}

@media (min-width: $desktop-width) {
  body {
    &.openModal {
      position: static;
    }
  }

  .mobileOnly {
    display:none;
  }

  .desktopOnly {
    display: block;
  }

  .card {
    width: 918px;
  }

  .cardContainer {
    display: inline-block;
  }

  .mobileText {
    display:none;
  }

  .desktopText {
    display:block;
  }

  .desktopInlineContainer {
    display: flex;

    div {
      flex: 1;
    }
  }
}
