button {
  outline: none;
  cursor: pointer;
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  background: none;
  &.primary {
    background-color: #0099ff;
    color: #ffffff;
    &:hover {
      background-color: #00aaff;
      transform: translateY(-1px);
    }
    &:active {
      background-color: #0099ff;
      transform: translateY(-1px);
    }
  }
  &.secondary {
    color: #9b9b9b;
    margin-top: 33px;
  }

}
