.button {
  text-align: center;
  font-family: RobotoRegular;
  font-size: 18px;
  font-weight: 400;
  height: 58px;
  line-height: 58px;
  margin: 8px auto;
  cursor: pointer;
  user-select: none;
  transition: ease 0ms;
  color: #0099ff;
  border-radius: 4px;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 1px -2px #000000;
    color: #ffffff;
    background-color: #00aaff;
  }

  &:active {
    box-shadow: inset 0 2px 1px -2px #000000;
    transform: translateY(1px);
    color: #ffffff;
    background-color: #0099ff;
  }
}

.buttonContainer {
  font-size: 16px;
  padding: 15px;

  .optionButton {
    border-radius: 4px;
    width: 100%;
    height: 48px;
    font-family: RobotoRegular;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 0.2px;
    text-align: center;
    cursor: pointer;
    border: solid 1px #0099ff;
    padding: 0 8px;

    &.agreeButton {
      color: #ffffff;
      background-color: #0099ff;
      text-transform: uppercase;
    }

    &.disagreeButton {
      margin-top: 24px;
      color: #0099ff;
      text-transform: capitalize;
    }
  }
}

